@charset "UTF-8";

.login_bg_wrap {
	background: url(../img/join/login_bg.jpg) center top no-repeat fixed
		#0a0807;
	background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
}

.login_wrap {
    max-width: 570px;
    margin: 0 auto;
    padding: 70px 0 50px;
}

.hid {
    position: absolute;
    left: -9999px;
    font-size: 0;
    width: 0;
    height: 0;
    text-indent: -9999px;
    overflow: hidden;
}

.login_ttl {
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}

.login_form {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: 570px;
    margin: 0 auto 30px;
    position: relative;
}

.find_form_txt {
    background: #fff;
    border-bottom: 1px solid #ddd;
    color: #777;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 30px 20px 30px;
}

.t_006633 {
    color: #006633 !important;
}

.for_mob {
    display: none !important;
}

.login_input_box {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px 20px;
    position: relative;
}

.bd_none {
    border: 0 !important;
}

.login_input_box:after {
    clear: both;
    content: "";
    display: block;
}

.login_input_box input {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    /* margin-top: 10px; */
    max-width: 530px;
    /* outline: none; */
    padding: 15px;
    width: 100%;
}

.mb10 {
    margin-bottom: 10px;
}

.checkWrap {
    display: block;
    margin-bottom: 20px;
}

