@charset "UTF-8";
/*webfont*/
@font-face { /*나눔바른고딕 */
	font-family: 'nbg';
	src: url('../font/NanumBarunGothic.eot');
	src: url('../font/NanumBarunGothic.eot?#iefix')
		format('embedded-opentype'), url('../font/NanumBarunGothic.woff')
		format('woff'), url('../font/NanumBarunGothic.ttf') format('truetype');
	src: local(※), url('../font/NanumBarunGothic.woff') format('woff');
}

/*body*/
body {
	min-width: 1100px;
	overflow-y: scroll;
}

body, * {
	color: #666;
	font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif,
		Helvetica;
	font-size: 1em;
	line-height: 1;
}

div {
	display: block;
}

a {
	cursor: pointer;
	text-decoration: none;
}

/*float마감*/
.clear:after {
	content: '';
	display: block;
	float: none;
	clear: both
}

/*header*/
#header {
	height: 120px;
	position: relative;
	background: #f6f5ef;
}

#header .header_inner {
	margin: 0 auto;
	background: #f6f5ef;
	position: relative;
	height: 120px;
	width: 1100px;
}

h1.logo {
	position: absolute;
	top: 22px;
	left: 20px;
	width: 75px;
	height: 75px;
	z-index: 20;
}

h1.logo a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url(../img/logo.png);
	text-indent: -9999px;
}

.util_nav {
	height: 20px;
	right: 93px;
	top: 15px;
	width: 464px;
	position: absolute;
	background-image: url(../img/sdown_util_sep.png);
}

.util_nav li {
	float: left;
	text-align: center;
}

.util_nav li:nth-child(1), .util_nav li:nth-child(2) {
	width: 76px;
}

.util_nav li:nth-child(3) {
	width: 107px;
}

.util_nav li:nth-child(4) {
	width: 181px;
}

.util_nav li:nth-child(5) {
	width: 97px;
}

.util_nav li a {
	font: normal 13px Avenir, Arial, georgia;
}

.btn_search {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: block;
	position: absolute;
	width: 32px;
	height: 32px;
	right: 54px;
	top: 9px;
}

.btn_search img {
	position: absolute;
	right: 6px;
	top: 6px;
}

.btn_search label {
	display: block;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.btn_search input {
	display: none;
	background: none;
	border: none;
	color: #777;
	font-size: 12px;
	height: 22px;
	padding: 0 10px;
	position: absolute;
	top: 5px;
	left: 0;
	width: 123px;
}

.btn_search a {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 34px;
	width: 34px;
}

.gnb_nav {
	height: 66px;
	top: 54px;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 15;
}

.gnb_nav_inner {
	height: 66px;
	width: 1100px;
	margin: 0 auto;
	z-index: 10;
}

.gnb_nav_inner>ul {
	float: right;
	display: block;
}

.gnb_nav_inner>ul>li {
	float: left;
}

.gnb_nav_inner>ul>li>h2>a:hover {
	background: #2C2A29;
	color: #690;
	text-decoration: underline;
}

.gnb_nav_inner>ul>li>h2>a.on {
	background: #2C2A29;
	color: #690;
}

.gnb_nav_inner>ul>li.gnb_nav01 {
	width: 89px;
}

.gnb_nav_inner>ul>li.gnb_nav02 {
	width: 73px;
}

.gnb_nav_inner>ul>li.gnb_nav03 {
	width: 79px;
}

.gnb_nav_inner>ul>li.gnb_nav04 {
	width: 153px;
}

.gnb_nav_inner>ul>li.gnb_nav05 {
	width: 225px;
}

.gnb_nav_inner>ul>li.gnb_nav06 {
	width: 131px;
}

.gnb_nav_inner li>h2>a {
	display: block;
	font: normal 13px Avenir, Arial, georgia;
	color: #333;
	text-align: center;
	width: 100%;
	height: 56px;
	line-height: 20px;
	padding-top: 10px;
}

/* 서브메뉴 : 기본 display none */
/* .gnb_nav02 .gnb_sub_wrap, .gnb_nav03 .gnb_sub_wrap, .gnb_nav04 .gnb_sub_wrap,
	.gnb_nav05 .gnb_sub_wrap, .gnb_nav06 .gnb_sub_wrap {
	display: none;
} */
.gnb_sub_wrap {
	display: none;
	background: #2C2A29;
	position: absolute;
	width: 100%;
	left: 0;
	top: 66px;
}

.gnb_sub_wrap a, p {
	display: inline-block;
	text-indent: 20px;
}

.gnb_sub {
	width: 100%;
	display: inline-block;
	background: #2C2A29;
}

.gnb_sub_inner {
	padding: 20px 0 20px 0;
	width: 1100px;
	margin: 0 auto;
}

.up>ul {
	float: left;
	width: 220px;
}

.down>ul {
	float: left;
	width: 220px;
	padding-top: 30px;
}

.gnb_sub_inner ul>li.gnb_sub_ttl {
	padding-bottom: 12px;
}

.gnb_sub_inner ul>li.gnb_sub_ttl>a {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}

.gnb_sub_inner ul>li {
	padding: 3px 0;
}

.gnb_sub_inner ul>li>a {
	color: #999;
	font-size: 12px;
}

.gnb_sub_txbg {
	display: inline-block;
	padding: 5px 0 20px 0px;
	background: url(../img/gnb_sub_txbg.jpg) repeat-x;
	width: 100%;
}

.gnb_sub_tx_inner {
	width: 1100px;
	margin: 0 auto;
	background: url(../img/gnb_sub_txbg.jpg) repeat-x;
}

.gnb_sub_tx_inner h3 {
	margin-top: 25px;
}

.gnb_sub_tx_inner h3 a {
	font-size: 12px;
	color: #999;
}

.gnb_sub_tx_inner p {
	color: #64a70b;
	font-size: 12px;
}

/*contents :본문 전체 설정*/
#contents {
	width: 100%;
	height: 300px;
}

/*플로팅 배너*/
#contents .f_banner {
	margin-left: 400px;
	position: fixed;
	left: auto;
	right: 1%;
	top: 138px;
	z-index: 999;
	width: 130px;
}

.f_banner .xmas {
	display: block;
	width: 100%;
}

.f_banner .plcc {
	width: 108%;
	margin-top: 8px;
	margin-left: -2.3px;
}

/*contents :본문 내용 설정*/

/*footer*/
#footer {
	padding: 32px 0 35px 0;
}